{% extends 'base.html' %}

<!-- page name here (SEO) -->
{% block title %}About | The House of Mouse{% endblock %}

<!-- page meta description here (SEO) -->
{% block meta_description %}{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>The House of Mouse - Tails of Joy</h1>
            <h6 class="pink-cap-header">Everyone deserves to have more in their life to smile about.</h6>
            <strong>My mice are experts at creating smiles.</strong>
            <hr>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <img src="https://i.ibb.co/pKVBC0Y/RWF-4784-750.jpg" alt="Anna with arms full of mice." class="w-100">
        </div>
        <div class="col-12 col-md-8">
            <p>I am Anna, the artist behind these joyful artisan felt mice. My Granny was a mouse maker, and just like
                her I am on a mission to let more joy into your life.</p>

            <p>I want my creations to speak to your soul, light you up and inspire you with pure delight. Because I
                believe that the things that make you happy are what make your life so unique.</p>

            <p>As a child I struggled with reading and writing. After years of being treated as “educationally
                sub-normal” by my teachers, I was finally diagnosed with dyslexia. A condition that meant my brain is
                far from stupid, it simply has a different way of learning.</p>

            <p>Dyslexia also gave me a huge gift. Like blindness results in extraordinary hearing, it gifted me with
                an intense passion and talent for creativity. Though I struggled to learn in a conventional school
                setting, I excelled at all things creative.</p>

            <p>Throughout my life creativity has been my source of joy.
                <br>Joy is my refuge from the struggles of life.</p>

            <p>I joined every craft class I could find outside of school – I studied drawing, painting, ceramics,
                sewing and textiles. I built up a confidence that I could learn any technique I put my mind to. Soon I
                had added photography, graphic design and sculpture to my skills at art school. I was in my element
                learning new techniques and trying out different materials.</p>

            <p>I use many of these skills, combined with loving attention to the tiniest details to bring these
                beautifully intricate, utterly adorable felt mice to life, so they can light up your day in an instant.
            </p>

        </div>
        <div class="col-12 text-center">
            <a href="{% url 'all-products' %}" class="btn btn-cta btn-pink mb-5">Visit shop</a>
        </div>
    </div>
</div>

{% endblock %}