{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Contact | The House of Mouse{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12">
            {% if messages %}
            {% for message in messages %}

            <div class="alert alert-{{ message.tags }} text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div id="contact-pg-background" class="container-fluid">
    <div id="background-img-overlay" class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="contact-form-wrapper mx-auto mt-3">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="pink-cap-header">Get in touch</legend>
                        <p>Got a question, comment or just want to say hi?<br>
                            Send me a message!</p>
                        <hr>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-pink btn-cta m-0" type="submit">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}