{% extends 'base.html' %}

<!-- page name here (SEO) -->
{% block title %}Frequently Asked Questions | The House of Mouse{% endblock %}

<!-- page meta description here (SEO) -->
{% block meta_description %}{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- breadcrumbs -->
        <div id="breadcrumbs" class="col-12">
            <a href="/">Home </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="{% url 'faqs' %}">FAQs </a>
        </div>
        <div class="col-12">
            <h1>Frequently Asked Questions</h1>
            <hr>
            <h4 class="pink-text">Can you alter an existing design?</h4>
            <p>Yes, that's no problem. If it is a small change you need (to change clothing colour, for example) there
                is no extra cost. If the change is more time consuming this will increase the total cost. Contact me
                with your ideas and I'll be happy to give you a free, no obligation quote.</p>

            <h4 class="pink-text">Do you do custom designs?</h4>
            <p>Yes! I adore making unique custom mice. If you are interested in this service please contact me with your
                request.</p>

            <p>Please be aware that I dedicate much care and attention to custom orders, so that you get exactly what
                you want, and this extra time taken is reflected in the price.</p>

            <h4 class="pink-text">My order is a gift. Can you include a message with the parcel?</h4>
            <p>Yes! Please <a href="{% url 'contact' %}">contact me</a> with your order number and message and I will be happy to include it with your parcel</p>

            <h4 class="pink-text">What is included with my order?</h4>
            <p>Each mouse comes with a signed and embossed Certificate of Authenticity and 
                is carefully placed in a gift box. Optional gift wrapping is also available 
                (choose the gift wrap option during checkout).</p>

            <h4 class="pink-text">How long will it take to send my order?</h4>
            <p>Orders of in-stock items are shipped within 2 working days. Custom order turnaround times vary 
                depending on how many orders I have. During quiet periods mice are ready within a couple of days. 
                At busy times such as the Christmas rush it can take a few weeks for your order to be ready to 
                send. I can let you know my current processing times when we discuss your custom order. It's 
                always best to order early to avoid disappointment. </p>

            <h4 class="pink-text">Do you have any coupon codes?</h4>
            <p>Savings codes, special offers and sales are available to my newsletter subscribers. 
                Subscribe <a href="https://eepurl.com/N8vj" target="_blank">here.</a></p>

            <hr>

            <div class="text-center m-4">
                <p>If you weren't able to find an answer to your question here. Feel free to contact me and I will be happy to help!</p>

                <a href="{% url 'contact' %}" class="btn btn-cta btn-pink">Get in touch</a>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}