{% extends 'base.html' %}

{% block title %}Home | The House of Mouse{% endblock %}

{% block content %}

<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-3" class="d-block w-100 carousel-image"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container py-2">
                <div class="row">

                    <!-- Header and intro -->
                    <header id="home-header" class="col-12 text-center">
                        <h1 class="mt-3">The House of Mouse</h1>
                        <h2 class="pink-cap-header mb-3">Handmade collectable artisan mice</h2>

                        <p>Everyone deserves to have more in their life to smile about.
                            My mice are experts at creating smiles.</p>
                        <p>I am Anna, the artist behind these joyful artisan felt mice.</p>
                        <p>My Granny was a mouse maker, and just like her I am on a mission
                            to let more joy into your life. </p>
                        <p>I want my creations to speak
                            to your soul, light you up and inspire you with pure delight.</p>
                        <p>Because I believe that the things that make you happy are
                            what make your life so unique.</p>
                        <p>I put hours of loving attention into the tiniest details,
                            to bring these intricate, adorable felt mice to life, so
                            they can light up your day in an instant.</p>
                        <a href="#" class="btn btn-pink btn-cta">Learn More</a>
                        <!-- link to about page later -->

                        <hr>
                        <div class="icon-box-wrapper">
                            <div class="icon-box">
                                <i class="fas fa-hand-holding-heart"></i>
                                <p>Completely Handmade</p>
                            </div>
                            <div class="icon-box">
                                <i class="fas fa-globe-europe"></i>
                                <p>Worldwide Shipping</p>
                            </div>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box">
                                <i class="fas fa-certificate"></i>
                                <p>Custom Orders Welcome</p>
                            </div>
                            <div class="icon-box">
                                <i class="fas fa-gift"></i>
                                <p>Gift Wrapping Available</p>
                            </div>
                        </div>
                    </header>
                </div>

                <!-- Shop sections -->
                <div class="row mt-3">
                    <!-- top two columns bigger on desktop -->
                    <div class="col-12 col-sm-6 home-category-wrapper-lg">
                        <div id="category-img-1"
                            class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
                            title="Browse famous mice">
                            <div class="category-heading-box text-center">
                                <h3>Famous Mice</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 home-category-wrapper-lg">
                        <div id="category-img-2"
                            class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
                            title="Browse mice for special occasions">
                            <div class="category-heading-box text-center">
                                <h3>Special Occasions</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
                        <div id="category-img-3"
                            class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
                            title="Browse Harry Potter inspired mice">
                            <div class="category-heading-box text-center">
                                <h3>Harry Potter Mice</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
                        <div id="category-img-4"
                            class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
                            title="Browse Star Wars inspired mice">
                            <div class="category-heading-box text-center">
                                <h3>Star Wars Mice</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
                        <div id="category-img-5"
                            class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
                            title="Browse mice with jobs and hobbies">
                            <div class="category-heading-box text-center">
                                <h3>Jobs & Hobbies</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
                        <div id="category-img-6"
                            class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
                            title="Clearance">
                            <div class="category-heading-box text-center">
                                <h3>Clearance</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Testimonials -->
<div id="testimonials-section" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="testimonials-container" class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-12">
                        <h3>What my customers say...</h3>
                    </div>
                    <div class="col-12">
                        <!-- testimonials carousel -->
                        <div id="testimonials-carousel" class="carousel slide pb-4" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                                <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="testimonial-wrapper d-block" alt="First slide">
                                        <div class="mb-3">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <blockquote cite="https://www.etsy.com/shop/TheHouseOfMouse#reviews">
                                            <p>AMAZING. My son is into ninja mice, but I didn't see a Ninja Mouse
                                                offered by Anna. I asked if she could create one, and VOILA! A
                                                custom-ordered, ADORABLE ninja mouse for my son. It's not easy to
                                                find ninja mouse items for the holidays, so I was VERY relieved!
                                                It is extremely well made and accurate. And the turnaround time
                                                was insanely fast, even though it was a custom order and had to
                                                ship to San Francisco in the US.</p>
                                            <footer>- sherrihowe, <cite>Etsy Feedback</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="..." alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="..." alt="Third slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}