{% extends 'base.html' %}

{% block title %}Home | The House of Mouse{% endblock %}

{% block content %}

<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image" title="..."></div>
        </div>
        <div class="carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image" title="..."></div>
        </div>
        <div class="carousel-item">
            <div id="carousel-img-3" class="d-block w-100 carousel-image" title="..."></div>
        </div>
    </div>
</div>

{% endblock %}