{% extends 'base.html' %}

{% block title %}Home | The House of Mouse{% endblock %}

{% block content %}

<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item">
            <div id="carousel-img-3" class="d-block w-100 carousel-image"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container py-2">
                <div class="row">
                    <header id="home-header" class="col-12 text-center">
                        <h1 class="mt-3">The House of Mouse</h1>
                        <h2 class="pink-cap-header mb-3">Handmade collectable artisan mice</h2>

                        <p>Everyone deserves to have more in their life to smile about.
                            My mice are experts at creating smiles.</p>
                        <p>I am Anna, the artist behind these joyful artisan felt mice.</p>
                        <p>My Granny was a mouse maker, and just like her I am on a mission
                            to let more joy into your life. </p>
                        <p>I want my creations to speak
                            to your soul, light you up and inspire you with pure delight.</p>
                        <p>Because I believe that the things that make you happy are
                            what make your life so unique.</p>
                        <p>I put hours of loving attention into the tiniest details,
                            to bring these intricate, adorable felt mice to life, so
                            they can light up your day in an instant.</p>
                        <a href="#" class="btn btn-pink btn-cta">Learn More</a>
                        <!-- link to about page later -->

                        <hr> 
                        <div class="icon-box-wrapper">
                            <div class="icon-box">
                                <i class="fas fa-hand-holding-heart"></i>
                                <p>Completely Handmade</p>
                            </div>
                            <div class="icon-box">
                                <i class="fas fa-globe-europe"></i>
                                <p>Worldwide Shipping</p>
                            </div>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box">
                                <i class="fas fa-certificate"></i>
                                <p>Custom Orders Welcome</p>
                            </div>
                            <div class="icon-box">
                                <i class="fas fa-gift"></i>
                                <p>Gift Wrapping Available</p>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}