{% extends 'base.html' %}

<!-- listing name here (SEO) -->
{% block title %}{% endblock %}

<!-- listing meta description here (SEO) -->
{% block meta_description %}{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- breadcrumbs -->
        <div id="breadcrumbs" class="col-12">
            <a href="/">Home </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Categories </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Star Wars </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Yoda Mouse </a>
        </div>

        <!-- Heading -->
        <div class="col-12">
            <h1>Yoda Mouse</h1>
        </div>

        <!-- listing images -->
        <div class="col-12 col-md-7 col-lg-9">
            <div class="row">

                <!-- big image -->
                <div class="col-12 col-lg-10">
                    <img src="https://i.ibb.co/TYFQxMM/SWYoda-1.jpg" alt="Yoda Mouse"
                        class="listing-img-main small-box-shadow">
                </div>

                <!-- thumbnails -->
                <div class="col-12 col-lg-2 text-center text-lg-left">
                    <div class="listing-img-thumbnail"
                        style="background-image: url('https://i.ibb.co/TYFQxMM/SWYoda-1.jpg')"></div>
                    <div class="listing-img-thumbnail"
                        style="background-image: url('https://i.ibb.co/J3m1dt6/SWYoda-2.jpg')"></div>
                    <div class="listing-img-thumbnail"
                        style="background-image: url('https://i.ibb.co/KbWkqcx/SWYoda-3.jpg')"></div>
                    <div class="listing-img-thumbnail"
                        style="background-image: url('https://i.ibb.co/FDc6Xkj/starwasrcollectables1sml.jpg')"></div>
                </div>
            </div>
        </div>

        <!-- listing details -->
        <div class="col-12 col-md-5 col-lg-3">
            <div class="row">

                <!-- Price -->
                <div class="col-8">
                    <div class="listing-price">€40</div>
                    <p class="sml-txt">Incl. tax</p>
                </div>
                <div id="add-fav" class="col-4 text-center">
                    <i class="far fa-heart" title="Add to favourites"></i>
                </div>
                <div class="col-12">
                    <form id="listing-quantity-form">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Quantity</label>
                            <select class="form-control listing-quantity" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <button type="submit" class="btn btn-cta btn-blue btn-shop">Add to Cart</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- listing description -->
        <div id="listing-description" class="col-12 col-lg-8">
            <h4 class="pink-cap-header mt-3">Description</h4>
            <p>
                Old and wise, this little mouse is. Much stronger than he looks, is he. Among the oldest and most
                powerful known Jedi masters in the Star Wars universe, Grand Jedi master Yoda Mouse is. Once on the Jedi
                council, he was.</p>

            <p>Intricately hand crafted in his Jedi robes, Yoda Mouse has been. Holds a green lightsaber in his paws he
                does.</p>

            <p class="mb-3">My Star Wars Mice were featured in the book "1,000 Collectibles: Memorabilia and stories from a Galaxy
                far, far away" by Stephen Sansweet. (page 328) </p>
            <hr>

            <!-- Standard details for all listings -->
            <h5 class="pink-cap-header">Measurements & Materials</h5>

            <p>Each artisan mouse is hand sewn using felt, silks, ribbon, beads and various other materials. Each is
                stuffed with polyfil and stands approximately 2.5inches / 6.5cm tall. Clothes and accessories are not
                removable.</p>

            <p>Due to the nature of handmade, your mouse may vary slightly from the photos, however the design will
                always remain true to the character.</p>

            <h5 class="pink-cap-header">Safety</h5>

            <p>The House of Mouse creations are art intended for adults and collectors. They are not suitable for
                children as they will not stand up to vigorous play, and they include small parts that could easily be
                swallowed. Please keep away from fire.</p>

            <h5 class="pink-cap-header">Customisations</h5>

            <p>Minor customisations to existing designs are possible and usually for no extra cost.</p>

            <p>I also adore making unique custom orders. If you are interested in this service please contact me!</p>

            <p>Please be aware that I dedicate much care and attention to custom orders, so that you get exactly what
                you want, and this extra time taken is reflected in the price.</p>
        </div>

        <!-- share buttons -->
        <div class="col-12 text-center text-md-left">
            <a href="#" class="btn btn-cta btn-fb ml-md-0"><i class="fab fa-facebook-f"></i>  Share</a>
            <a href="#" class="btn btn-cta btn-twit"><i class="fab fa-twitter"></i> Tweet</a>
            <a href="#" class="btn btn-cta btn-pin"><i class="fab fa-pinterest-p"></i> Pin it</a>
        </div>
    </div>
</div>




{% endblock %}