{% extends 'base.html' %}

<!-- add listing name to title here -->
{% block title %}Listing Name | The House of Mouse{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div id="breadcrumbs" class="col-12">
            <a href="/">Home </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Categories </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Star Wars </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Yoda Mouse </a>
        </div>
    </div>
</div>




{% endblock %}