{% extends 'base.html' %}

<!-- add listing name to title here -->
{% block title %}Listing Name | The House of Mouse{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- breadcrumbs -->
        <div id="breadcrumbs" class="col-12">
            <a href="/">Home </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Categories </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Star Wars </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="#">Yoda Mouse </a>
        </div>

        <!-- Heading -->
        <div class="col-12">
            <h1>Yoda Mouse</h1>
        </div>

        <!-- listing images -->
        <div class="col-12 col-md-7 col-lg-9">
            <div class="row">

                <!-- big image -->
                <div class="col-12 col-lg-10">
                    <img src="https://i.ibb.co/TYFQxMM/SWYoda-1.jpg" alt="Yoda Mouse" class="listing-img-main small-box-shadow">
                </div>

                <!-- thumbnails -->
                <div class="col-12 col-lg-2 text-center text-lg-left">
                    <div class="listing-img-thumbnail" style="background-image: url('https://i.ibb.co/TYFQxMM/SWYoda-1.jpg')"></div>
                    <div class="listing-img-thumbnail" style="background-image: url('https://i.ibb.co/J3m1dt6/SWYoda-2.jpg')"></div>
                    <div class="listing-img-thumbnail" style="background-image: url('https://i.ibb.co/KbWkqcx/SWYoda-3.jpg')"></div>
                    <div class="listing-img-thumbnail" style="background-image: url('https://i.ibb.co/FDc6Xkj/starwasrcollectables1sml.jpg')"></div>
                </div>
            </div>
        </div>

        <!-- listing details -->
        <div class="col-12 col-md-5 col-lg-3">
            <div class="row">

                <!-- Price -->
                <div class="col-8">
                    <div class="listing-price">€40</div> 
                    <p class="sml-txt">Incl. tax</p>
                </div>
                <div id="add-fav" class="col-4 text-center">
                    <i class="far fa-heart" title="Add to favourites"></i>
                </div>
                <div class="col-12">
                    <form id="listing-quantity-form">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Quantity</label>
                            <select class="form-control listing-quantity" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <button type="submit" class="btn btn-cta btn-blue btn-shop">Add to Cart</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- listing description -->
        <div class="col-12">

        </div>

        <!-- share buttons -->
        <div class="col-12">

        </div>
    </div>
</div>




{% endblock %}