<div class="container">
    <div class="row justify-content-center">
        <div id="progress-box" class="col-10 col-md-8 col-lg-6">
            <hr id="progress-line">
            <div id="progress-circles" class="d-flex justify-content-between">
                <div class="progress-step">
                    <div class="progress-circle done">
                        <i class="fas fa-check"></i>
                    </div>
                    <p>Info</p>
                </div>

                <div class="progress-step">
                    <div class="progress-circle active">
                        2
                    </div>
                    <p>Shipping</p>
                </div>

                <div class="progress-step">
                    <div class="progress-circle">
                        3
                    </div>
                    <p>Payment</p>
                </div>

                <div class="progress-step">
                    <div class="progress-circle">
                        4
                    </div>
                    <p>Confirm</p>
                </div>
            </div>
        </div>

    </div>
</div>