{% extends 'base.html' %}

<!-- listing name here (SEO) -->
{% block title %}{{ product.title }} | The House of Mouse{% endblock %}

<!-- listing meta description here (SEO) -->
{% block meta_description %}{{ product.description }}{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- breadcrumbs -->
        <div id="breadcrumbs" class="col-12">
            <a href="/">Home </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="{% url 'categories' %}">Categories </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="/products/categories/{{ product.category|slugify }}">{{ product.category }}</a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        </div>

        <!-- Heading -->
        <div class="col-12">
            <h1>{{ product.title }}</h1>
        </div>

        <!-- listing images -->
        <div class="col-12 col-md-7 col-lg-9">
            <div class="row">

                <!-- big image -->
                <div class="col-12 col-lg-10">
                    <img id="main-listing-img" src="{{ product.product_image1.url }}" alt="{{ product.title }}" class="listing-img-main small-box-shadow">
                </div>

                <!-- thumbnails -->
                <div class="col-12 col-lg-2 text-center text-lg-left">
                    <div class="listing-img-thumbnail" style="background-image: url('{{ product.product_image1.url }}')">
                    </div>

                    {% if product.product_image2 %}
                    <div class="listing-img-thumbnail" style="background-image: url('{{ product.product_image2.url }}')">
                    </div>
                    {% endif %}

                    {% if product.product_image3 %}
                    <div class="listing-img-thumbnail" style="background-image: url('{{ product.product_image3.url }}')">
                    </div>
                    {% endif %}

                    {% if product.product_image4 %}
                    <div class="listing-img-thumbnail" style="background-image: url('{{ product.product_image4.url }}')">
                    </div>
                    {% endif %}

                    {% if product.product_image5 %}
                    <div class="listing-img-thumbnail" style="background-image: url('{{ product.product_image5.url }}')">
                    </div>
                    {% endif %}

                    <!-- thumbnails to  be included on all listing pages to show packaging and scale -->
                    <div id="packaging-img" class="listing-img-thumbnail">
                    </div>
                    <div id="scale-img" class="listing-img-thumbnail">
                    </div>
                </div>
            </div>
        </div>

        <!-- listing details -->
        <div class="col-12 col-md-5 col-lg-3">
            <div class="row">

                <!-- Price -->
                <div class="col-12">
                    <div class="listing-price">€{{ product.price }}</div>
                    <p class="sml-txt">Incl. tax</p>
                </div>
                <div class="col-12">
                    <form id="listing-quantity-form" method='POST'>
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="listing-id" name="listingId" type="hidden" value="{{ product.id }}" disabled>
                            <label for="quantity">Quantity</label>
                            {% if product.num_in_stock != 0 %}
                            <select class="form-control listing-quantity" id="quantity" name="quantity">
                                <!-- loops through to create options for number of items in stock -->
                                {% for i in stock_arr %}
                                <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                            {% if product.num_in_stock == 1 %}
                            <p class="pink-text text-center">Only one left in stock!</p>
                            {% elif product.num_in_stock == 0 %}
                            <p class="pink-text text-center">Sorry this listing is currently sold out!</p>
                            {% endif %}
                            {% if product.num_in_stock != 0 %}
                            <button type="submit" class="btn btn-cta btn-blue btn-shop" >
                                Add to Cart
                            </button>
                            {% endif %}
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- listing description -->
        <div id="listing-description" class="col-12 col-lg-8">
            <h4 class="pink-cap-header mt-3">Description</h4>

            <p class="mb-3">{{ product.description }}</p>
            <hr>

            <!-- Standard details for all listings -->
            <h5 class="pink-cap-header">Measurements & Materials</h5>

            <p>Each artisan mouse is hand sewn using felt, silks, ribbon, beads and various other materials. Each is
                stuffed with polyfil and stands approximately 2.5inches / 6.5cm tall. Clothes and accessories are not
                removable.</p>

            <p>Due to the nature of handmade, your mouse may vary slightly from the photos, however the design will
                always remain true to the character.</p>

            <h5 class="pink-cap-header">Safety</h5>

            <p>The House of Mouse creations are art intended for adults and collectors. They are not suitable for
                children as they will not stand up to vigorous play, and they include small parts that could easily be
                swallowed. Please keep away from fire.</p>

            <h5 class="pink-cap-header">Customisations</h5>

            <p>Minor customisations to existing designs are possible and usually for no extra cost.</p>

            <p>I also adore making unique custom orders. If you are interested in this service please contact me!</p>

            <p>Please be aware that I dedicate much care and attention to custom orders, so that you get exactly what
                you want, and this extra time taken is reflected in the price.</p>
        </div>

        <!-- recommended -->
        <div id="recommended-listings" class="col-12">
            <div class="container p-3">
                <div class="row">
                    <div class="col-12">
                        <h3>More like this</h3>
                    </div>
                    {% for product in more_products %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 listing-card-padding {% if forloop.counter >= 5 %} d-lg-none {% endif %} ">
                        
                        <a href="{% url 'listing-detail' product.id %}">
                            <div class="listing-card mx-auto">
                                <div class="listing-img-wrapper">
                                    <div class="listing-img small-box-shadow sm-box-shadow-hover"
                                        style="background-image: url('{{ product.product_image1.url}}');">

                                    </div>
                                </div>

                                <div class="listing-info d-flex justify-content-between">
                                    <h5>{{ product.title }}</h5>
                                    <p>€{{ product.price }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                    <div class="col-12 text-center">
                        <a href="/products/categories/{{ product.category|slugify }}" class="btn btn-cta btn-pink">Browse more</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
