a {
    color: $color3;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
}

a:hover {
    text-decoration: none;
    color: $color3-hover;
}

#searchbox {
    width: auto;
}

/*  overrides bootstrap navbar padding to 
    make it more streamlined */
.navbar {
    padding: 0 1rem;
}

.small-box-shadow {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.sm-box-shadow-hover:hover {
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);
            box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);
}

/* Styling for footer */

#footer {
    background-color: $color-dark;
    padding: 1.5rem;
}

footer li {
    list-style: none;
}

footer ul {
    padding: 0;
    margin: 0;
}

.footer-heading {
    margin-bottom: 2rem;
}

footer a {
    color: #f8f9fa;
    -webkit-transition: 0.3s all ease-in-out 0.2s;
    transition: 0.3s all ease-in-out 0.2s;
}

footer a:hover {
    color: $color2;
    text-decoration: none;
}

.order-card {
    background-color: $color-light;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
}

/* Background image for account pages */

.many-mice-background {
    background-image: url('https://i.ibb.co/c8mKfZy/overrun.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center 5%;
}

.background-img-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
}

.contact-form-wrapper {
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
}

/* Overrides bootstrap margin-bottom on alert messages */
.alert {
    margin: 0;
}