a {
    color: $color-medium-dark;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
}

a:hover {
    text-decoration: none;
    color: $color3-hover;
}

#mobile-search-bar {
    padding: 0.5rem;
    background-color: $color1;
}

#mobile-search-input {
    width: auto;
}

/*  overrides bootstrap navbar padding to 
    make it more streamlined                */
.navbar {
    padding: 0 1rem;
}

.small-box-shadow {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.sm-box-shadow-hover:hover {
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);
            box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);
}

#footer {
    background-color: $color-dark;
    padding: 1.5rem;
}

footer li {
    list-style: none;
}

footer ul {
    padding: 0;
    margin: 0;
}

.footer-heading {
    margin-bottom: 2rem;
}

footer a {
    color: #f8f9fa;
    -webkit-transition: 0.3s all ease-in-out 0.2s;
    transition: 0.3s all ease-in-out 0.2s;
}

footer a:hover {
    color: $color2;
    text-decoration: none;
}

.order-card {
    background-color: $color-light;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
}

// stripe styling

.StripeElement {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
            box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    -webkit-transition: -webkit-box-shadow 150ms ease;
    transition: -webkit-box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

​ .StripeElement--focus {
    -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
            box-shadow: 0 1px 3px 0 #cfd7df;
}

​ .StripeElement--invalid {
    border-color: #fa755a;
}

​ .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.vertical-centre-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#contact-pg-background {
    background-image: url('https://i.ibb.co/c8mKfZy/overrun.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.full-height {
    min-height: 100vh;
}

.background-img-overlay {
    background-color: rgba(63, 63, 63, 0.24);
}

.contact-form-wrapper {
    background-color: rgba(173, 173, 173, 0.24);
    border: 1px solid white;
    border-radius: 6px;
}