/* Styles for cart and checkout pages */

.cart-item-img {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
    border: 1px solid lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#shopping-cart-contents {
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #f8f9fa;
}

#shopping-cart-contents i {
    line-height: 1.2rem;
}

/* pushes price up to be in line with quantity select field */
#price {
    margin-bottom: 1.4rem;
}

/* Progress bar in shopping cart */
#progress-line {
    border-top: 1px solid rgba(0,0,0,1);
    margin: 2rem auto;
    width: 80%;
}

.progress-step {
    width: 100px;
    text-align: center;
    display: inline-block;
}

.progress-circle {
    background-color: white;
    border: 1px solid $color-dark;
    color: $color-dark;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 2.3rem;
}

.progress-step p {
    font-size: 0.8rem;
}
/* places progress circles over joining line */
#progress-circles {
    margin-top: -3.3rem;
}

/* styling progress circle on active step */
.progress-circle.active {
    background-color: $color3;
    color: white;
}

#checkout-logo,
#checkout-heading {
    display: inline-block;
}

#checkout-logo {
    width: 80px;
    margin: 1rem 1rem 1rem 0;
}

#order-summary-mobile .fa-shopping-basket {
    color: $color-dark;
    font-size: 1.5rem;
}

#order-summary-mobile .chevron {
    color: $color-dark;
    font-size: 1.1rem;
}

.link {
    color: $color3-hover;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
}

.link:hover {
    color: $color3;
    text-decoration: none;
}

.collapse {
    background-color: #f8f9fa;
}

.checkout-card {
    padding: 0.9rem;
    margin: 0 auto;
    border-radius: 6px;
}

.total.ml-auto {
    margin-right: 0;
}

a.blue-link {
    color: $color3-hover;
}

.country-info {
    color: $color3;
    cursor: pointer;
}

.card-body,
.card-header {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.card.order-card {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 6px!important;
    
}