.carousel-item {
    height: 66vh;
    width: 100vw;
}

.carousel-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#carousel-img-1 {
    background-image: url('https://i.ibb.co/wSrfNTN/RWF-4746-1500.jpg');
    background-position: center 35%;
}

#carousel-img-2 {
    background-image: url('https://i.ibb.co/zGW76QM/Family-1500.jpg');
    background-position: center 65%;
}

#carousel-img-3 {
    /*  this image is replaced with a different one on 
        medium screens & up, see media queries          */
    background-image: url('https://i.ibb.co/BnzQYjP/silly.jpg');
    background-position: center 35%;
}

