#breadcrumbs {
    margin: 0.5rem 0;
}

#breadcrumbs a {
    color: $color-dark;
    font-size: 0.8rem;
    -webkit-transition: 0.2s all ease-in-out 0.3s;
    transition: 0.2s all ease-in-out 0.3s;
}

#breadcrumbs a:hover {
    color: $color3-hover;
    text-decoration: none;
}

#breadcrumbs i {
    color: gold;
    font-size: 0.6rem;
}

/* listing cards */

.listing-img-wrapper {
    height: 200px;
    min-width: 175px;
}

.listing-img {
    height: 100%;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 35%;
}

.listing-card {
    max-width: 300px;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
}

.listing-card-padding {
    padding: 15px;
}

.listing-info {
    padding: 0.5rem 1rem;
}

.listing-info h5 {
    font-size: 0.8rem;
    margin: 0;
}

.listing-info p {
    color: $color3;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.1rem;
}

.listing-quantity {
    max-width: 100px;
    margin-bottom: 1rem;
}

.listing-img-main {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
}

.listing-img-thumbnail {
    height: 65px;
    width: 65px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
}

#packaging-img {
    background-image: url('https://i.ibb.co/TT762hB/Packaging.jpg');
}

#scale-img {
    background-image: url('https://i.ibb.co/ZfLKgCs/Size.jpg');
}

.vh-66 {
    min-height: 66vh;
}

