/* Styles for cards displaying order information */

.full-order-card {
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 1.5rem;
    background-color: white;
}

.card-header {
    background-color: #dbf1ff;
}

.card-header button {
    text-align: left;
    color: $color-dark;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
}

.card-header button:hover {
    text-decoration: none;
    color: black;
}

.card-header button:focus {
    text-decoration: none;
    color: black;
}

.order-footer {
    border-top: 1px solid lightgray;
    padding: 1rem 0.5rem;
    border-radius: 0 0 6px 6px;
}

.order-summary-short {
    padding: 1rem;
}

.sml-data.total {
    margin: 0;
    font-weight: bold;
}

