{% extends 'base.html' %}

<!-- Page name here (SEO) -->
{% block title %}Gallery | The House of Mouse{% endblock %}

<!-- page meta description here (SEO) -->
{% block meta_description %}A Gallery of many weird and wonderful custom artisan mice made by The House of Mouse over
the years.{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <header>
                <h1>Gallery</h1>
                <h4 class="pink-cap-header">A gallery of weird and wonderful custom artisan mice.</h4>
                <hr>
                <p>The mice featured here are not part of my normal stock, these were all special request custom orders
                    made by my many customers since I opened The House of Mouse in 2018. If you would like to request 
                    a custom mouse of your own, please contact me with your ideas!</p>
            </header>
        </div>
        <div class="col-12">
            <a data-fancybox="gallery" href="big_1.jpg"><img src="small_1.jpg"></a>
        </div>
    </div>
</div>

{% endblock %}