{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- listing name here (SEO) -->
{% block title %}Cart | The House of Mouse{% endblock %}

<!-- listing meta description here (SEO) -->
{% block meta_description %}{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <!-- breadcrumbs -->
        <div id="breadcrumbs" class="col-12">
            <a href="/">Home </a>
            <i class="fas fa-cheese fa-flip-horizontal"></i>
            <a href="{% url 'cart' %}">Shopping cart </a>
        </div>
        <heading class="col-11 col-md-8 col-lg-6">
            <h1>Your shopping cart</h1>
        </heading>
    </div>
</div>

<!-- contents of shopping basket -->
<div class="container mb-5">
    <div class="row justify-content-center">

        <div id="shopping-cart-contents" class="col-11 col-md-8 col-lg-6 small-box-shadow">
            <form id="confirmCartForm" method="POST">
                {% csrf_token %}
                <div class="row">

                    {% for item in cart_items %}
                        <!-- 
                        deleted items and items that have had their quantities reduced to 0 are kept
                        in session variables to save from changing indexes from the orderItems list. So this
                        condition loops through the orderItems and only displays them if their quantity not 0 
                        -->
                        {% if item.quantity > 0 %}
                            <div class="col-4">
                                <div class="cart-item-img mx-auto"
                                    style="background-image: url('{{ item.product.product_image1.url}}')"
                                    title="{{ item.product.title }}"></div>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-10">
                                        <h4>{{ item.product.title }}</h4>
                                    </div>
                                    <div class="col-2 text-center">
                                        <i class="far fa-times-circle delete-icon" title="Delete" id="cart-item-delete-{{ forloop.counter }}"></i>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <!-- aligns price to bottom right corner of it's container -->
                                    <div class="col-4 d-flex align-items-end justify-content-end">
                                        <p class="price">€{{ item.product.price }}</p>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input id="item{{ forloop.counter }}id" name="item{{ forloop.counter }}id"
                                                type="hidden" value="{{ item.product.id }}" disabled>
                                            <label for="id_form-{{ forloop.counter }}-quantity">Quantity</label>

                                            <!-- Loops through formset and pulls out the corresponding input field -->
                                            {% with forloop.counter as item_counter %}
                                                {% for form in formset %}
                                                    {% if forloop.counter == item_counter %}
                                                        {{ form|crispy }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="col-12 text-right">
                        <h3 id="subtotal">Subtotal: €<span id="subtotal-js">{{ request.session.cart.total }}</span></h3>
                        <p>Tax included.
                            <br>Shipping calculated during checkout.</p>
                        <button type="submit" class="btn btn-cta btn-blue mr-0">Checkout</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
{% endblock %}