{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

<!-- listing name here (SEO) -->
{% block title %}Checkout Step 3 Payment | The House of Mouse{% endblock %}

{% block meta_robots %}noindex{% endblock %}

{% block content %}

{% include 'components/progress.html' %}

{% include 'components/summary.html' %}

<div class="container pb-2">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 mt-4" id="shipping-options">

            <div class="card bg-light checkout-card">
                <h6 class="checkout-heading">Contact</h6>
                <p>{{user.email}}</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6 class="checkout-heading">Ship to</h6>
                    <a href="{% url 'info' %}">Change</a>
                </div>
                <p>{{ order.full_name }},<br>
                    {{ order.address_line_1 }},
                    {% if order.address_line_2 %}
                    {{ order.address_line_2 }},
                    {% endif %}
                    {{ order.town_or_city }},
                    {% if order.county %}
                    {{ order.county }},
                    {% endif %}
                    {{ order.postcode }},
                    {{ order.country }}</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6 class="checkout-heading">Shipping method</h6>
                </div>

                <p>DHL Signed for - €{{ order.country.shipping_price }}</p>
            </div>

            <h6 class="checkout-heading mt-4">Payment</h6>
            <p>All transactions are secure and encrypted</p>
            <form method="POST" id="payment-form">
                {% csrf_token %}
                <div class="form-row">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>

                <button id="pay-now-btn"
                class="btn btn-cta btn-blue d-block mx-auto m-lg-0 ml-lg-auto mr-0" id="submit_payment_btn">Submit Payment</button>
            </form>
        </div>

        <!-- order summary section, hidden on medium screens and up -->
        <div class="d-none d-md-block col-md-6">
            <div class="row" id="shopping-cart-contents">
                <div class="col-9">
                    <h3 class="checkout-heading pb-3 px-3">Your order summary</h3>
                </div>
                <div class="col-3 text-right"><a href="{% url 'cart' %}">Change</a></div>
                {% include 'components/orderitem-list.html' %}
            </div>
        </div>

        <div class="col-12 text-center text-md-left p-3">
            <div class="text-center text-md-left my-2">
                <a href="{% url 'shipping' %}" class="mx-auto blue-link"><i class="fas fa-arrow-left"></i> Return to
                    Shipping</a>
            </div>
            <a href="#" class="mr-2">Refund Policy</a>
            <a href="#" class="ml-2">Terms of Service</a>
        </div>

    </div>
</div>

{% endblock %}