{% extends 'base.html' %}

{% load staticfiles %}

<!-- listing name here (SEO) -->
{% block title %}Checkout Step 1 Info | The House of Mouse{% endblock %}

{% block meta_robots %}noindex{% endblock %}

{% block content %}

{% include 'components/progress.html' %}

{% include 'components/summary.html' %}

<div class="container">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 mt-4 pt-3">
            <h6 class="checkout-heading">Contact Information</h6>
            <p>Already have an account? <a href="#" class="link">Log in</a></p>
            <hr>
            <p>------ shipping address form here. ------</p>
            <button type="submit" class="btn btn-cta btn-blue d-block ml-auto mr-0">Continue to shipping</button>
        </div>

        <!-- order summary section, hidden on medium screens and up -->
        <div id="shopping-cart-contents" class="d-none d-md-block col-md-6 col-lg-5 card">
            <div class="row">
                <div class="col-12">
                    <h3 class="checkout-heading pb-3 px-3">Your order summary</h3>
                </div>

                {% include 'components/cart-items.html' %}
                <div class="col-12 text-right">
                    <hr>
                    <h3 id="subtotal">Subtotal: <span>€105</span></h3>
                    <p>Tax included.
                        <br>Shipping calculated during checkout.</p>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}