{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

<!-- listing name here (SEO) -->
{% block title %}Checkout Step 1 Info | The House of Mouse{% endblock %}

{% block meta_robots %}noindex{% endblock %}

{% block content %}

{% include 'components/progress.html' %}

{% include 'components/summary.html' %}

<div class="container">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 mt-4 pt-3 px-3 px-lg-5">
            <h6 class="checkout-heading">Shipping address</h6>
            
            <form method="POST">
                {% csrf_token %}
                {{ shipping_info_form|crispy }}
                <button type="submit" class="btn btn-cta btn-blue d-block ml-auto mr-0 mb-5">Continue to shipping</button>
            </form>
            
        </div>

        <!-- order summary section, hidden on medium screens and up -->
        <div id="shopping-cart-contents" class="d-none d-md-block col-md-6 card">
            <form id="confirmCartForm" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <h3 class="checkout-heading pb-3 px-3">Your order summary</h3>
                    </div>

                    {% include 'components/cart-items.html' %}
                    <div class="col-12 text-right">
                        <h3 id="subtotal">Subtotal: €<span class="subtotal-js">{{ request.session.cart.total }}</span></h3>
                        <p>Tax included.
                        <br>Shipping calculated during checkout.</p>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>



{% endblock %}