{% extends 'base.html' %}

{% load staticfiles %}

<!-- listing name here (SEO) -->
{% block title %}Checkout Step 3 Payment | The House of Mouse{% endblock %}

<!-- listing meta description here (SEO) -->
{% block meta_description %}{% endblock %}

{% block meta_robots %}noindex{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 pt-3 text-center">
            <img id="checkout-logo" src="{% static 'img/logo.png' %}" alt="The House of Mouse logo">
            <h2 id="checkout-heading">The House of Mouse</h2>
        </div>
    </div>
</div>

{% include 'components/cartprogress.html' %}

{% endblock %}