{% extends 'base.html' %}

{% load staticfiles %}

<!-- listing name here (SEO) -->
{% block title %}Thank you for your order! | The House of Mouse{% endblock %}

{% block meta_robots %}noindex{% endblock %}

{% block content %}

{% include 'components/progress.html' %}

<div class="container pb-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 mt-4">

            <h3>Order confirmed</h3>
            <p>Thank you for your order! <br>
                Your package will be shipped by DHL within 2 working days to the address supplied:</p>

            <div class="address-card">
                <p>{{ order.full_name }},<br>
                    {{ order.address_line_1 }},<br>
                    {% if order.address_line_2 %}
                    {{ order.address_line_2 }},<br>
                    {% endif %}
                    {{ order.town_or_city }},<br>
                    {% if order.county %}
                    {{ order.county }},<br>
                    {% endif %}
                    {{ order.postcode }},<br>
                    {{ order.country }}</p>
            </div>

            <p>I will email you a tracking code when your parcel is on its way. You can check your tracking info at
                <a href="www.dhl.de/en" target="_blank">www.dhl.de/en</a>.<br>
                Packages to {{ order.country }} normally take {{ order.country.shipping_time }} to arrive however
                customs can occasionally
                slow parcels down further.</p>

            <p>You can review your order on your <a href="{% url 'profile'%}">Account page</a></p>

            <p>If you have any questions about your order, feel free to <a href="{% url 'contact'%}">contact</a> me.</p>

            <p>Thank you so much for supporting my art!</p>

            <p>Anna and the Mice</p>

            <a href="{% url 'all-products' %}" class="btn btn-cta btn-pink ml-0">Return to shop</a>

        </div>
    </div>
</div>

{% endblock %}