#mobile-search-bar {
    padding: 0.5rem;
    background-color: $color1;
}

#mobile-search-input {
    width: auto;
}

/*  overrides bootstrap navbar padding to 
    make it more streamlined                */
.navbar {
    padding: 0 1rem;
}