{% load staticfiles %}

<footer id="footer" class="container-fluid small-box-shadow">
    <div class="row">
        <div class="col-12">
            <div class="container mx-auto text-white">
                <div class="row">
                    <div class="col-12 text-center footer-heading">
                        <h3>Everyone deserves to have more in their life to smile about.</h3>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="text-uppercase">Categories</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <ul>

                                    <li><a href="{% url 'famous' %}">Famous</a></li>
                                    <li><a href="{% url 'star-wars' %}">Star Wars</a></li>
                                    <li><a href="{% url 'doctor-who' %}">Doctor Who</a></li>
                                    <li><a href="{% url 'harry-potter' %}">Harry Potter</a></li>
                                    <li><a href="{% url 'special-occasions' %}">Special Occasions</a></li>
                                    <li><a href="{% url 'christmas' %}">Christmas</a></li>

                                </ul>
                            </div>
                            <div class="col-12 col-lg-8">
                                <ul>
                                    <li><a href="{% url 'halloween' %}">Halloween & Dangerous</a></li>
                                    <li><a href="{% url 'jobs-hobbies' %}">Jobs & Hobbies</a></li>
                                    <li><a href="{% url 'weird-misc' %}">Weird & Misc</a></li>
                                    <li class="mb-3"><a href="{% url 'all-products' %}">View All</a></li>
                                    <!-- mb-3 adds a little space between bottom of last <li> and column underneath -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <h5 class="text-uppercase">Popular Links</h5>
                        <ul>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="{% url 'faqs' %}">FAQs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li class="mb-3"><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-12 text-center">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-youtube-square"></i>
                    </div>
                    <div class="col-12 text-center">
                        <small>© The House of Mouse <span id="copyright-year"></span></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>