{% load staticfiles %}

<!-- Search bar above navbar only visible on mobile -->
<div id="mobile-search-bar" class="d-md-none">
    <form class="form-inline justify-content-center">
        <input id="mobile-search-input" class="form-control" type="search" placeholder="Search all mice"
            aria-label="Search">
        <button id="mobile-search-btn" class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>


<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light small-box-shadow">

    <a class="navbar-brand px-1 mr-auto mr-md-1" href="#">
        <img id="logo" src="{% static 'img/logo.png' %}" alt="The House of Mouse logo">
    </a>

    <form class="form-inline mr-auto my-2 my-lg-0 d-none d-md-inline-block">
        <input id="nav-search-input" class="form-control" type="search" placeholder="Search all mice"
            aria-label="Search"><button id="nav-search-btn" class="btn btn-search" type="submit"><i
                class="fas fa-search"></i></button>
            <!-- bug fix: for some reason if <button> starts on a new line there is a 
                gap between input field and button, which does not work with my design! -->
    </form>

    <!-- positions favs and cart icons to left of toggler on mobiles (2nd one for desktop below) -->
    <div id="navbar-icons-mobile" class="d-lg-none">
        <a class="nav-link nav-link-icon" href="#" title="My Favourites">
            <i class="far fa-heart navbar-icon"></i>
        </a>
        <a class="nav-link nav-link-icon" href="#" title="Shopping cart">
            <div>
                <i class="fas fa-shopping-basket navbar-icon"></i>
                <div id="cart-counter">2</div>
            </div>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home {% if page == "home" %}<span
                        class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Browse
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">View All</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">Famous</a>
                    <a class="dropdown-item" href="#">Star Wars</a>
                    <a class="dropdown-item" href="#">Doctor Who</a>
                    <a class="dropdown-item" href="#">Harry Potter</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">Special Occasions</a>
                    <a class="dropdown-item" href="#">Christmas</a>
                    <a class="dropdown-item" href="#">Halloween & Dangerous</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">Jobs & Hobbies</a>
                    <a class="dropdown-item" href="#">Cultures</a>
                    <a class="dropdown-item" href="#">Weird & Misc</a>
                    <a class="dropdown-item" href="#">Clearance</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Create Account</a>
            </li>
        </ul>

    </div>

    <!-- positions favs and cart icons to far right of navbar when navigation not collapsed -->
    <div id="navbar-icons-desktop" class="d-none d-lg-inline-block">
        <a class="nav-link nav-link-icon" href="#" title="My Favourites">
            <i class="far fa-heart navbar-icon"></i>
        </a>
        <a class="nav-link nav-link-icon" href="#" title="Shopping cart">
            <div>
                <i class="fas fa-shopping-basket navbar-icon"></i>
                <div id="cart-counter">2</div>
            </div>
        </a>
    </div>
</nav>