.btn-search {
    color: $color3;
    background-color: transparent;
    border-color: $color3
}

.btn-search:hover {
    background-color: $color3;
    color: white;
}

#mobile-search-btn {
    color: white;
    background-color: #ced4da;
    border-color: #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
}

#mobile-search-btn:hover {
    background-color: $color3;
}

#mobile-search-input,
#nav-search-input {
    border-radius: 0.25rem 0 0 0.25rem;
}

#nav-search-btn {
    border-radius: 0 0.25rem 0.25rem 0;
}

.btn-cta,
#mc_embed_signup .button {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding: 0.4rem 1rem;
    margin: 1rem;
}

#mc_embed_signup .button {
    margin-top: 0.5rem;
}

.btn-pink{
    background-color: $color2;
    color: white;
}

.btn-pink:hover {
    background-color: $color2-hover;
    color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
            box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.btn-blue {
    background-color: $color3;
    color: white;
}

.btn-blue:hover {
    background-color: $color3-hover;
    color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
            box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.btn-shop {
    width: 100%;
    margin: 0;
}

.btn-fb {
    color: #4267B2;
    border: 1px solid #4267B2;
}

.btn-fb:hover {
    color: white;
    background-color: #4267B2;
}

.btn-twit {
    color: #1DA1F2;
    border: 1px solid #1DA1F2;
}

.btn-twit:hover {
    color: white;
    background-color: #1DA1F2;
}

.btn-pin {
    color: #E60023;
    border: 1px solid #E60023;
}

.btn-pin:hover {
    color: white;
    background-color: #E60023;
}

#pay-now-btn {
    min-width: 300px;
}

.accordion-btn {
    width: 100%
}