.btn-search {
    color: $color3;
    background-color: transparent;
    border-color: $color3
}

.btn-search:hover {
    background-color: $color3;
    color: white;
}

#mobile-search-btn {
    color: white;
    background-color: #ced4da;
    border-color: #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
}

#mobile-search-btn:hover {
    background-color: $color3;
}

#mobile-search-input {
    border-radius: 0.25rem 0 0 0.25rem;
}