/* Buttons scss */


/* Uniform styling for all call to action buttons */
.btn-cta {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding: 0.4rem 1rem;
    margin: 1rem;
}

.btn-pink{
    background-color: $color2;
    color: white;
}

.btn-pink:hover {
    background-color: $color2-hover;
    color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
            box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.btn-blue {
    background-color: $color3;
    color: white;
}

.btn-blue:hover {
    background-color: $color3-hover;
    color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
            box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

/* Category buttons on results page */
.btn-pink-outline {
    border: 1px solid $color2;
    color: $color2;
    margin: 0.25rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}

.btn-pink-outline:hover {
    background-color: $color2;
    color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
            box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.btn-shop {
    width: 100%;
    margin: 0;
}

#pay-now-btn {
    min-width: 300px;
}

.accordion-btn {
    width: 100%;
}

#order-summary-mobile button {
    text-decoration: none;
    width: 100%;
}