body {
    font-family: $main-text;
    color: $color-dark;
}

h1 {
    margin-top: 1.5rem;
}

h1, h2, h3 {
    font-family: $heading
}

h4, h5 {
    font-family: $main-text;
    text-transform: uppercase;
}

h5 {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

footer h3 {
    text-shadow: 1px 1px rgba(0,0,0,.5);
    color: #f8f9fa;
}

footer h5 {
    color: $color2;
}

.pink-cap-header {
    font-family: $main-text;
    color: $color2;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}

#listing-description h5 {
    font-size: 1rem;
}

#home-header p {
    margin-bottom: 0.75rem;
}

#testimonials-section h3 {
    font-size: 2rem;
    color: $color2;
}

/* overrides mailchimp css */
#mc_embed_signup h2 {
    font-weight: normal;
}

.pink-text {
    font-family: $heading;
    color: $color2;
    text-transform: none;
}