@import url('https://fonts.googleapis.com/css?family=Emilys+Candy|Open+Sans&display=swap');

/* Variables */

//fonts

$main-text: 'Open Sans', sans-serif;
$heading: 'Emilys Candy', cursive;

// colours 
$color1: #FFE4E6;
$color2: #FFBABE;
$color3: #7ccfff;
$color-dark: #373737;
$color-light: #E5E5E5;
