@import url('https://fonts.googleapis.com/css?family=Emilys+Candy|Lato&display=swap');

// SCSS variables for site wide use

// fonts
$main-text: 'Lato', sans-serif;
$heading: 'Emilys Candy', cursive;

// colours 
$color1: #FFE4E6;
$color2: #e68186;
$color2-hover: #cc5d62;
$color3: #63c4fc;
$color3-hover: #47b7f8;
$color-dark: #373737;
$color-medium-dark: #797979;
$color-light: #E5E5E5;
