@import url('https://fonts.googleapis.com/css?family=Emilys+Candy|Lato&display=swap');

/* Variables */

//fonts

$main-text: 'Lato', sans-serif;
$heading: 'Emilys Candy', cursive;

// colours 
$color1: #FFE4E6;
$color2: #FFBABE;
$color2-hover: rgb(255, 154, 159);
$color3: #63c4fc;
$color-dark: #373737;
$color-light: #E5E5E5;
